@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.bg-my1 {
    background: #222831;
}

.bg-my2 {
    background: #393E46;
}

.bg-my3 {
    background: #FFD369;
}

.bg-my4 {
    background: #EEEEEE;
}

.text-my1 {
    color: #222831;
}

.text-my2 {
    color: #393E46;
}

.text-my3 {
    color: #FFD369;
}

.text-my4 {
    color: #EEEEEE;
}

.row{
    margin: 0px;
}

.border-top-my3 {
    border-top: 1px solid #FFD369;
}

a {
    text-decoration: none;
}

.btnlink {
    background: #393E46;
    color: #EEEEEE;
}

.btnlink:hover {
    background: #FFD369;
    color: #222831;
}

#bbnav {
    bottom: 55px;
    right: 30px;
}

#Zainteresowania {
    background-image: url('/1.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    background-position: right bottom;
    -webkit-background-attachment:fixed;
    -moz-background-attachment:fixed;
}